[[source]]
name = "pypi"
url = "https://pypi.python.org/simple"
verify_ssl = true

[packages]
Django = "==3.2.8"
django-allauth = "*"
django-cors-headers = "*"
django-environ = "*"
django-filter = "*"
django-heroku = "*"
django-mptt = "*"
django-redis = "*"
django-rq = "*"
djangorestframework = "*"
djangorestframework-simplejwt = "*"
djoser = "*"
gunicorn = "*"
sentry-sdk = "*"
whitenoise = "*"

[dev-packages]
black = "*"
coverage = "*"
factory-boy = "*"
flake8 = "*"
flake8-debugger = "*"
ipython = "*"
isort = "*"
jupyter = "*"

[requires]
python_version = "3.8"

[packages.drf-spectacular]
extras = ["sidecar"]
